{% extends 'blog/base.html' %} {% block content %}
<div class="container py-5">
  <h1 class="text-center mb-5 fw-bold text-light animate-title">Register</h1>
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="content-box p-4 rounded bg-dark shadow-sm" data-aos="fade-up">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label text-light">Username</label>
            <input
              type="text"
              class="form-control form-control-custom"
              id="username"
              name="username"
              value="{{ form.username.value|default:'' }}"
              required
              placeholder="Enter your username"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label text-light">Email</label>
            <input
              type="email"
              class="form-control form-control-custom"
              id="email"
              name="email"
              value="{{ form.email.value|default:'' }}"
              required
              placeholder="Enter your email"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label text-light">Password</label>
            <input
              type="password"
              class="form-control form-control-custom"
              id="password"
              name="password"
              required
              placeholder="Enter your password"
            />
          </div>
          <div class="mb-3">
            <label for="confirm_password" class="form-label text-light"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control form-control-custom"
              id="confirm_password"
              name="password_confirm"
              required
              placeholder="Confirm your password"
            />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-custom">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
